* {
    box-sizing: border-box;
}
img{
    object-fit: cover;
}
.nav-link{
    color: #fff!important;
}
.nav-link:hover{
    color: #03c6e9!important;
}
.btn-outline-primary{
    color: #03c6e9!important;
    border-color: #03c6e9!important;
}
.btn-outline-primary:hover{
    color: #fff!important;
    background: #03c6e9!important;
}


